body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    cursor: url('https://cdn2.iconfinder.com/data/icons/font-awesome/1792/cursor-512.png'), auto; /* Custom cursor */
}

h1 {
    margin-bottom: 20px;
}

.g-signin2 {
    margin-top: 20px;
}

.description {
    margin-top: 30px;
    text-align: center;
}

.g-signin2 > div {
    background-color: #4285F4; /* Google blue */
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.g-signin2 > div:hover {
    background-color: #357AE8; /* Darker blue on hover */
}

